@(errors: List[crawler.CrawlError], user: User)(implicit flash: Flash)

@main("Ranking Administration", user) {

	<div class="container">	
		@flashmessage(flash)
	
		<div class="thread-header">
			<div class="row">
				<div class="col-md-12">
					<h3>Administration - Ranking</h3>
					<div id="crawl_buttons">
						<form method="POST" action="@routes.Administration.startCrawl">
							<input type="submit" class="btn btn-danger" value="Start crawling">
						</form>
						<br/>
						<form method="POST" action="@routes.Administration.crawlErrors">
							<input type="submit" class="btn btn-danger" value="Recrawl errors">
						</form>
					</div>
					<p id="crawl_text">
						A crawl is already in progress...
					</p>
				</div>
			</div>
		</div>
		
		<div>
			<div>
				<h4>Errors</h4>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Message</th>
							<th>Url</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					@errors.map { e =>
						<tr>
							<td>@e.id</td>
							<td>@e.message</td>
							<td><a href="@e.url" target="_blank">@e.url</a></td>
							<td>
								<form method="POST" action="@routes.Administration.deleteError(e.id)">
									<input type="submit" class="btn btn-success" value="Delete">
								</form>
							</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var stillCrawling = function(status) {
			if(status === "false") {
				$("#crawl_buttons").show()
				$("#crawl_text").hide()
			} else {
				$("#crawl_buttons").hide()
				$("#crawl_text").show()
			}
		}
	</script>
	
	<iframe id="comet" src="@routes.Administration.crawlStatus"></iframe>

}